flask==3.0.3
flask-cors==4.0.0
python-dotenv==1.0.1
beautifulsoup4==4.12.3
requests==2.32.3
pypdf==4.2.0
youtube-transcript-api==0.6.2

langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.7
langchain-text-splitters==0.2.0
langchain-google-genai==1.0.5

faiss-cpu==1.13.1

gunicorn==22.0.0
